<app-header></app-header>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <th>Nom Produit</th>
        <th>Quantite</th>
        <th>Prix total</th>
        </thead>
        <tbody>

     <tr *ngFor="let lignes of ligne">
          <td>{{ lignes.product.productName}}</td>
          <td>{{ lignes.quantity  }}</td>
          <td>{{ lignes.prixT}}</td>
          
                   <td>
        <!--   <button class="btn btn-primary" (click)="deleteProduct(product)">Delete Product</button>
          </td>
          <td>
            <button class="btn btn-primary" (click)="UpdateProduct(product)">Update Product</button>
          </td>-->
          
        </tr>  

        </tbody>


      </table>
      <!-- Display products based on current page and page size -->


      
    </div>
 

  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
