<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>LOGIN</div>

      <div class='input-fields'>

        <header>Login</header>
        <form #myForm="ngForm" (ngSubmit)="login(myForm)">                        <div class="row g-3">

            <div class="col-md-12">
                <input type="email"class='input-line full-width'  name="email" #email="ngModel" [(ngModel)]="user.mail" placeholder="Your Email" style="height: 55px;" required pattern="[a-zA-Z][a-zA-Z0-9.-_]+@[a-zA-Z]+\.[a-zA-Z]{2,4}">
                <br>
                <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                    <div *ngIf="email.errors?.['required']">Email is required</div>
                    <div *ngIf="email.errors?.['pattern']">Email invalid </div>
                </div>
            </div>
            <div class="col-12">
                <input type="password" class='input-line full-width' name="password" #password="ngModel" [(ngModel)]="user.password" placeholder="Password" style="height: 55px;"
                >

                <br>
                <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                    <div *ngIf="password.errors?.['required']">Password is required</div>
                 <div *ngIf="password.errors?.['pattern']">Password invalid </div>
                </div>
            </div>

            <div class="col-12">
                <button class='ghost-round full-width' type="submit" [disabled]="myForm.invalid" > Sign in </button>


            </div>
        </div>
    </form>
        <div class="signup">
          <span class="signup">Don't have an account?
           <label for="check" > <a routerLink="/signup">Signup</a> </label>
           <label for="check">forget Password  <a routerLink="/forgetPAssword">Click here</a></label>
           <label for="check" (click)="loginWithMicrosoft()" ><a >Click here</a></label>

          </span>
        </div>
        </div>
    </div>

  </div>
</div>
