<br>
<div>
    <button  class="btn btn-primary tooltips"  style="color: rgb(255, 255, 255); text-align: center;" data-placement="top" data-original-title="Add"
    routerLink="/admin/createRole">Add Role</button>
</div>

<div class="card-content collapse show">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>name</th>
                       
                      </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of roles">
                        <td>{{p.id}}</td>
                        <td>{{ p.name  }}</td>                     
                       
                        <td><button (click)="deleteRole(p.id)" class="btn btn-secondary  tooltips" data-placement="top" data-original-title="Delete">Delete</button></td>
                        
                      
                    </tr>   

                </tbody>
            </table>
        </div>
    </div>
</div>

 