<div class='bold-line'></div>
<div style="background: linear-gradient(red,#051922);">
    <div class="container">
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Hello There!</div>
      <div class='subtitle'><br>We're almost done. Before using our services you need to create an account.</div> 
      <div class='input-fields'>
        <form (ngSubmit)="saveUser()" #form="ngForm">
            <div class="row g-3">
                <div class="col-md-6">
                    <input type="text" class='input-line full-width' name="username"
                        #username="ngModel" [(ngModel)]="user.username" placeholder="Your username" required
                        minlength="3" style="height: 55px;">
                    <br>
                    <div class="alert alert-danger" *ngIf="username.touched && username.invalid">
                        <div *ngIf="username.errors?.['required']">Username is required</div>
                        <div *ngIf="username.errors?.['minlength']">Username must have at least 3 characters </div>
                    </div>
                </div>
               
                <form [formGroup]="passwordForm">
                    <div class="row g-3">
                        <div class="col-6">
                            <input type="password" formControlName="password" id="password"
                            class='input-line full-width' name="password"
                                [(ngModel)]="user.password" placeholder="Your Password" required>

                            <br>
                            <div class="alert alert-danger"
                                *ngIf="passwordForm.hasError('mismatch') && (passwordForm.dirty || passwordForm.touched)">
                                Passwords do not match.

                            </div>
                            <div *ngIf="passwordForm.hasError('required') && passwordForm.touched">
                                Password is required.
                            </div>
                        </div>

                        <div class="col-6">
                            <input type="password" class='input-line full-width'
                                name="verifpassword" formControlName="verifpassword" id="verifpassword"
                                [(ngModel)]="user.verifPassword" placeholder="Confirm Your Password" required>

                            <br>
                            <div class="alert alert-danger"
                                *ngIf="passwordForm.hasError('mismatch') && (passwordForm.dirty || passwordForm.touched)">
                                Passwords do not match.
                            </div>
                            <div class="alert alert-danger"
                                *ngIf="passwordForm.hasError('required') && passwordForm.touched">
                                Verification password is required.
                            </div>
                        </div>
                    </div>

                </form>
             
                <div class="col-6">
                    <input type="email" class='input-line full-width' name="email"
                        #email="ngModel" [(ngModel)]="user.mail" style="height: 55px;" placeholder="Your Email"
                       required pattern="[a-zA-Z][a-zA-Z0-9.-_]+@[a-zA-Z]+\.[a-zA-Z]{2,4}">
                    <br>
                    <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                        <div *ngIf="email.errors?.['required']">Email is required</div>
                        <div *ngIf="email.errors?.['pattern']">Invalid email format</div>
                        
                         

                    </div>
                </div>
                <select [(ngModel)]="selectedRole" name="role" class="form-control"  id="role" required>
                    <option value="" disabled selected>Select a role</option>
                    <option *ngFor="let role of roles" [ngValue]="{ id: role.id, name: role.name }" [hidden]="role.name === 'admin'">{{ role.name }}</option>
                  </select>
                  <form [formGroup]="formcaptcha">
                           
                    <div><re-captcha siteKey="6LeN69slAAAAADDfSAi7XohtMdggYnfpj4_jmmtg" id="recaptcha"
                           (resolved)="resolved($event)"
                            aria-required="true" ></re-captcha>
                    </div>
                    
                    <div class="alert alert-danger" *ngIf="msg!=''"> {{msg}}</div>

                </form>
               
                <div class="col-12" *ngIf="form.valid">
                    <button class='ghost-round full-width' type="submit"><a >Sign up</a></button>
                </div>
                
                
                <div class="signup">
                    <span class="signup">Already I have an account
                     <label for="check" > <a routerLink="/signin">Sign-in</a> </label>
                     
                    </span>
                  </div>
            </div>
        </form>
    </div>
  </div>
</div>
</div>
</div>